@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    ViewData["Title"] = "Constultant Information";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>SIS AMASYA</title>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
    <link href="~/css/styles.css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
</head>
<body class="sb-nav-fixed">
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <!-- Navbar Brand-->
        <a class="navbar-brand ps-3" asp-area="" asp-controller="Home" asp-action="Index">SIS AMASYA</a>
        <!-- Sidebar Toggle-->
        <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
        <!-- Navbar Search-->
        <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
        </form>
        <!-- Navbar-->
        <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="#!">Settings</a></li>
                    <li><a class="dropdown-item" href="#!">Activity Log</a></li>
                    <li><hr class="dropdown-divider" /></li>
                    <li><a class="dropdown-item" asp-area="" asp-controller="Login" asp-action="Index">Logout</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <div class="sb-sidenav-menu-heading">Student Information System</div>
                        <a class="nav-link" asp-area="" asp-controller="General" asp-action="ExamResult">
                            <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                            Exam Results
                        </a>
                        <a class="nav-link" asp-area="" asp-controller="Students" asp-action="Index">
                            <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                            Students
                        </a>
                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                            <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                            General Operations
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>

                        <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" asp-area="" asp-controller="General" asp-action="PersonalInformation">Personal Information</a>
                                <a class="nav-link" asp-area="" asp-controller="General" asp-action="GeneralInformation">General Information </a>
                                <a class="nav-link" asp-area="" asp-controller="General" asp-action="AcademicCalendar">Academic calendar</a>
                                <a class="nav-link" asp-area="" asp-controller="General" asp-action="ConsultantInfo">Consultant Information</a>
                                <a class="nav-link" asp-area="" asp-controller="General" asp-action="LessonTaken">Lessons Taken</a>
                                <a class="nav-link" asp-area="" asp-controller="General" asp-action="ExamSchedule">Exam Schedule</a>
                                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Syllabus <!--Mufredat--></a>
                                <a class="nav-link" asp-area="" asp-controller="General" asp-action="IntershipInfo">Internship Information</a>
                                <a class="nav-link" asp-area="" asp-controller="General" asp-action="YOKSIS">YOKSIS Transactions </a>
                            </nav>
                        </div>
                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseCourse" aria-expanded="false" aria-controls="collapseCourse">
                            <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                            Course and Term Procedures
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>

                        <div class="collapse" id="collapseCourse" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="#">Drop and Add Courses</a>
                                <a class="nav-link" href="#">Transcript</a>
                            </nav>
                        </div>

                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
                            <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                            Authentication
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapsePages" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                                <a class="nav-link" asp-area="" asp-controller="Login" asp-action="Index">Login</a>
                                <a class="nav-link" asp-area="" asp-controller="Login" asp-action="Index">Register</a>
                                <a class="nav-link" asp-area="" asp-controller="Login" asp-action="Index">Forgot Password</a>
                            </nav>
                        </div>

                        <div class="sb-sidenav-menu-heading">Addons</div>
                        <a class="nav-link" asp-area="" asp-controller="General" asp-action="Charts">
                            <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                            Charts
                        </a>

                    </div>
                </div>
                <div class="sb-sidenav-footer">
                    <div class="small"></div>
                    SIS AMASYA
                </div>
            </nav>
        </div>

        <div id="layoutSidenav_content">
            <div class="container-fluid px-4">
                <div class="card">
                    <div class="card-body">
                        <script type="text/javascript">
                            //<![CDATA[
                            var theForm = document.forms['form1'];
                            if (!theForm) {
                                theForm = document.form1;
                            }
                            function __doPostBack(eventTarget, eventArgument) {
                                if (!theForm.onsubmit || (theForm.onsubmit() != false)) {
                                    theForm.__EVENTTARGET.value = eventTarget;
                                    theForm.__EVENTARGUMENT.value = eventArgument;
                                    theForm.submit();
                                }
                            }
                            //]]>
                        </script>

                        <div class="aspNetHidden">

                            <input type="hidden" name="__VIEWSTATEGENERATOR" id="__VIEWSTATEGENERATOR" value="31A838B1">
                            <input type="hidden" name="__SCROLLPOSITIONX" id="__SCROLLPOSITIONX" value="0">
                            <input type="hidden" name="__SCROLLPOSITIONY" id="__SCROLLPOSITIONY" value="0">
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading"><span id="lblDanHead">Danışman Bilgileri</span></div>
                            <table class="table-hover" style="width:100%">
                                <tbody>
                                    <tr>
                                        <td style="width:10%">
                                            <span id="Label2" style="color:#3A3A3A;font-family:Open Sans;font-size:10pt;">Adı Soyadı</span>
                                        </td>
                                        <td style="width:80%">
                                            <span id="lblAdSoyad" style="color:#3A3A3A;font-family:Open Sans;font-size:10pt;">Dr. Öğr.Üyesi SALİH BERKAN AYDEMİR</span>
                                        </td>
                                        <td colspan="1" rowspan="6" style="text-align: center; width:10%;">
                                            <img id="imgPhoto" class="rounded-circle" src="../zfoto_show.aspx?gkm=1011352502156373712157215536336321103737136318363002156" style="height:110px;width:100px;">
                                            <br>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span id="Label3" style="color:#3A3A3A;font-family:Open Sans;font-size:10pt;">Fakülte</span>
                                        </td>
                                        <td>
                                            <span id="lblFakAd" style="color:#3A3A3A;font-family:Open Sans;font-size:10pt;">MÜHENDİSLİK FAKÜLTESİ</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span id="Label5" style="color:#3A3A3A;font-family:Open Sans;font-size:10pt;">Bölüm</span>
                                        </td>
                                        <td>
                                            <span id="lblBolum" style="color:#3A3A3A;font-family:Open Sans;font-size:10pt;">BİLGİSAYAR MÜHENDİSLİĞİ BÖLÜMÜ</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span id="Label15" style="color:#3A3A3A;font-family:Open Sans;font-size:10pt;">Program</span>
                                        </td>
                                        <td>
                                            <span id="lblProgram" style="color:#3A3A3A;font-family:Open Sans;font-size:10pt;">BİLGİSAYAR MÜHENDİSLİĞİ</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span id="Label9" style="color:#3A3A3A;font-family:Open Sans;font-size:10pt;">Telefon</span>
                                        </td>
                                        <td>
                                            <span id="lblTel" style="color:#3A3A3A;font-family:Open Sans;font-size:10pt;">+905555555555</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span id="Label10" style="color:#3A3A3A;font-family:Open Sans;font-size:10pt;">E-Posta</span>
                                        </td>
                                        <td>
                                            <span id="lblEposta" style="color:#3A3A3A;font-family:Open Sans;font-size:10pt;">obsamasya@obstest.com</span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <br>



                        <script type="text/javascript">
                            //<![CDATA[

                            theForm.oldSubmit = theForm.submit;
                            theForm.submit = WebForm_SaveScrollPositionSubmit;

                            theForm.oldOnSubmit = theForm.onsubmit;
                            theForm.onsubmit = WebForm_SaveScrollPositionOnSubmit;
                                                                                                            //]]>
                        </script>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="~/js/scripts.js"></script>
</body>
</html>
